h1, h6 {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console";
    text-align: center;
    color: white;
}

body {
    font-family: "Menlo", "DejaVu Sans Mono", "Liberation Mono", "Consolas", "Ubuntu Mono", "Courier New", "andale mono", "lucida console";
    background-color: lightgrey;
}

#headbox {
    background-color:#81452D;
    margin-top: 10px;
    padding: 30px 0 30px 0;
    border-radius: 5px;
}

.bluebox {
    align-content: center;
    border-style: solid;
    border-width: 2px;
    border-color: #357AB6;
    background-color: #357AB6;
    border-radius: 5px;
}

#sched-title {
    background-color: #357AB6;
    color: white;
    width: auto;
    padding-top: 10px;
    font-weight: bold;
}

.greybox {
    background-color: lightgrey;
}

input[type="text"] {
    background-color: lightgrey;
    border: solid grey;
}

form {
    padding: 10px 40px 0 40px;
}

#formbox {
    border-bottom-width: 16px;
}

#formpad {
    padding-bottom: 18px;
}

button {
    background-color: #357AB6;
    color: white;
}

label {
    font-weight: bolder;
}